{% extends "base.html" %}

{% block title %}Articles - Atlas Quiz{% endblock %}

{% block content %}
    <h2>Articles</h2>
    <p>Articles and some websites that you can find news, tools and studies!</p>
    <div>
        <h3>Geography</h3>
        <p>
            Geography is the study of the lands, features, inhabitants, and phenomena of Earth.
            Geography is an all-encompassing discipline that seeks an understanding of Earth 
            and its human and natural complexities—not merely where objects are, 
            but also how they have changed and come to be. 
            While geography is specific to Earth, many concepts can be applied more 
            broadly to other celestial bodies in the field of planetary science. 
            Geography has been called "a bridge between natural science and social science disciplines." 
        </p>
        <p>If you want to know more follow the link below!</p>
        <a href="https://www.nationalgeographic.com/science">National Geographic Science</a>
        <br>
        <h3>Climate Change</h3>
        <p>
            Climate change has an increasingly large impact on the environment. 
            Deserts are expanding, while heat waves and wildfires are becoming more common. 
            Amplified warming in the Arctic has contributed to thawing permafrost, 
            retreat of glaciers and sea ice decline. Higher temperatures are also causing more intense storms, 
            droughts, and other weather extremes. Rapid environmental change in mountains, coral reefs, 
            and the Arctic is forcing many species to relocate or become extinct. 
            Even if efforts to minimize future warming are successful, some effects will continue for centuries. 
            These include ocean heating, ocean acidification and sea level rise.
        </p>
        <p>If you want to know more follow the link below!</p>
        <a href="https://www.climatecentral.org/">Climate Central</a>
        <br>
        <a href="https://science.nasa.gov/climate-change/">NASA - Climate Change</a>
        <br>
        <h3>Sustainability</h3>
        <p>
            Sustainability is the ability to meet the needs of the present without compromising 
            the ability of future generations to meet their own needs. 
            It typically involves balancing environmental, economic, 
            and social factors to create a harmonious coexistence between humans and nature.
        </p>
    </div>
{% endblock %}