{% extends "base.html" %}

{% block title %}Articles - Atlas Quiz{% endblock %}

{% block content %}
    <h2 class="articles_menu">Articles</h2>
    <p class="articles_menu">Articles and some websites that you can find news, tools and studies!</p>
    <div class="div_articles">
        <h3>Geography</h3>
        <p>
            Geography is the study of the lands, features, inhabitants, and phenomena of Earth.
            Geography is a discipline that seeks an understanding of Earth 
            and its human and natural complexities, not merely where objects are, 
            but also how they have changed and come to be.  
            Geography has been called "a bridge between natural science and social science disciplines." 
        </p>
        <p>If you want to know more follow the link below!</p>
        <a href="https://www.nationalgeographic.com/science">National Geographic Science</a>
        <br>
        <br>
        <h3>Climate Change</h3>
        <p>
            Climate change has an increasingly large impact on the environment. 
            Deserts are expanding, while heat waves and wildfires are becoming more common. 
            Amplified warming in the Arctic has contributed to thawing permafrost, 
            retreat of glaciers and sea ice decline.
        </p>
        <p>If you want to know more follow the link below!</p>
        <a href="https://www.climatecentral.org/">Climate Central</a>
        <br>
        <a href="https://science.nasa.gov/climate-change/">NASA - Climate Change</a>
        <br>
        <br>
        <h3>Sustainability</h3>
        <p>
            Sustainability is the ability to meet the needs of the present without compromising 
            the ability of future generations to meet their own needs. 
            It typically involves balancing environmental, economic, 
            and social factors to create a harmonious coexistence between humans and nature.
        </p>
    </div>
{% endblock %}